{% include 'service/index.html.twig' %}
{% from 'macro.html.twig' import render_table %}

{% block body %}

<div class="example-wrapper">

    {% block content %}
        <p> Pour une barbe soignée et élégante, faites confiance à nos barbiers expérimentés. Profitez d'une coupe de barbe minutieuse, d'un rasage de précision et de conseils sur-mesure pour un style qui vous ressemble et qui fait toute la différence. </p>
        <div class="button">
            <a href="{{ path('create_booking') }}">
            <button type="submit">Réservé</button>
            </a>
        </div>

        {{render_table(bookings)}}
    
    {% endblock %}

     
</div>
{% endblock %}
