{% include 'service/index.html.twig' %}
{% from 'macro.html.twig' import render_table %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% block content %}
        <p> Redéfinissez votre style avec l'expertise de nos coiffeurs passionnés. Que vous souhaitiez une coupe classique ou une transformation audacieuse, nous sommes là pour révéler le meilleur de vous-même grâce à des techniques modernes et personnalisées.</p>
        <div class="button">
            <a href="{{ path('create_booking') }}">
            <button type="submit">Réservé</button>
            </a>
        </div>

        {{render_table(bookings)}}
    
    {% endblock %}
</div>
{% endblock %}
