{% include 'service/index.html.twig' %}
{% from 'macro.html.twig' import render_table %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% block content %}
        <p> Relâchez toutes vos tensions et plongez dans un état de relaxation profonde avec nos massages professionnels. Chaque geste est pensé pour apaiser le corps et l'esprit, vous laissant revitalisé(e) et serein(e).</p>
        <div class="button">
            <a href="{{ path('create_booking') }}">
            <button type="submit">Réservé</button>
            </a>
        </div>

        {{render_table(bookings)}}
    
    {% endblock %}
</div>
{% endblock %}
