{% include 'service/index.html.twig' %}
{% from 'macro.html.twig' import render_table %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% block content %}
        <p> Offrez à vos pieds une pause bien-être avec notre soin pédicure complet. Du soin des ongles à l'hydratation de la peau, nous redonnons à vos pieds leur douceur et légèreté pour un confort absolu.</p>
        <div class="button">
            <a href="{{ path('create_booking') }}">
            <button type="submit">Réservé</button>
            </a>
        </div>

        {{render_table(bookings)}}
    
    {% endblock %}
</div>
{% endblock %}
