body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #FFF5F2;
    margin: 0;
}

nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: #af8d78; 
    
}

nav img {
    display: flex;
    margin: 0 auto;
    margin-right: 20px;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    color: #ffff;
}

nav ul li a{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    color: #ffff;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 15px;
    color: #f20000;
}

.banner {
    background-color: #af8d78; 
    background-size: cover;
    background-position: center;
    color: #fefefe;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 10%;
}

.banner h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.card {
    background-color: var(--color-background);
    padding: 40px;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.example-wrapper button {
    border-radius: 10px;
    background-color: #af8d78;
    margin: 4px 2px;
    color: white;
    padding: 16px 32px;
}

.example-wrapper h1 {

    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}


.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 15px;
}

.form-container form-error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
}


.form-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.form-container .user-section {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
